*{
  margin: 0px;
  padding: 0px;
}

span{
  margin-right: 10px;
}
body{
    height: 100%;
    width: 100%;
  }
  .cf{
    content: " ";
    display: table;
    clear: both;
  }
  a,img {
    text-decoration: none;
  }
  ul{
    list-style: none;
  }
  body{
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: black;
    font-size:16px;
  }
  .header{
    width: 1366px;
    height: 150px;
    margin: auto;
    position: fixed;
    background-color: rgba(225,225,225,0.2);
    display: flex;
  }
  .header  img{
    height: 140px;
    width: 140px;
    padding: 5px 50px ;
  }
  .header nav ul {
    display: flex;
    padding: 0px 50px 0 290px;
  }
  .header nav ul li a{
    height: 50px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    padding: 0px 12px 0 12px;
  }
  .header nav ul li a:hover{
    color: white;
  }
  .header nav ul li {
    align-content: center;
    padding : 70px 30px 0 30px;
  }
  .dropdown {
     margin: 15px 16px;
     width: 30px;
     height: 30px;
     float: right;
     background-color: #202020;
     color: #fff;
     border: none;
     font-size: 30px;
     transition: height 0.3s linear 0s;
     display: none;
   }
   .dropdown-content{
     display: none;
   }
   .banner{
     height: 700px;
     width: 1366px;
     margin: auto;
     background-image: url(../images/banner1.jpg);
     background-attachment: fixed;
     background-size: cover;
   }
   .ban h3{
     color: white;
   }
   .ban p{
     color: white;
     margin-top: 50px;
     line-height: 30px;
   }
   .ban{
     width: 550px;
     padding-top: 200px;
     margin-left: 50px;
   }
   .icons{
     height: 1250px;
     width: 1366px;
     margin: auto;
     background-color: black;
   }
   .icone {
     display: flex;
     padding-left: 200px;
     padding-right: 200px;
     padding-top: 50px;

   }
   .icone h2{
     color: white;
     font-size: 38px;
     padding-top: 70px;
   }
   .icone p{
     color: white;
     font-size: 14px;
   }
   .img1{
     margin-top: 100px;
     padding-left: 100px;
     height: 250px;
   }
   .img2{
     padding-right: 100px;
     width: 360px;
   }
   .img3{
     padding-left: 100px;
     margin-top: 130px;
     height: 250px;
   }
   .img4{
     display: none;
   }
   .footer{
     width: 1366px;
     height: 450px;
     margin: auto;
     display: flex;
     background-color: black;
   }
   .are p a {
     color: gray;
   }
   .are p a:hover{
     color: white;
   }
   .are{
     height: auto;
     margin-left: 30px;
     margin-top: 30px;
   }
   .two{
     margin-left: 110px;
   }
   .three{
     margin-left: 160px;
   }
   .are h3{
     color: white;
   }
   .our ul li a{
     color: #f86a1e;
   }
   .our div{
     display: flex;
   }
   .date p:first-child{
     padding-right: 5px;
   }
   .date2 p:first-child{
     padding-right: 8px;
   }
   .date3 p:first-child{
     padding-right: 11px;
   }
   .date4 p:first-child{
     padding-right: 21px;
   }
   .date5 p:first-child{
     padding-right: 18px;
   }
   .date6 p:first-child{
     padding-right: 14px;
   }
   .date1 p:first-child{
     padding-right: 11px;
   }
   .about {
     display: flex;
   }
   .about h3:last-child{
     color: #f86a1e;
     padding-left: 10px;
   }
   .are p{
     padding-top: 20px;
     color: white;
   }
   .are p a{
     color: white;
   }
   .icon{
     padding-left: 100px;
   }
   .one{
     margin-left: 150px;
   }
   .watsp {
      padding: 20px;
      font-size: 30px;
      height: 15px;
      width: 15px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
      border-radius: 50%;
    }
    .watsp:hover {
      opacity: 0.7;
    }

    .fa-facebook {
    background: #3B5998;
    color: white;
    }
    .fa-instagram {
      background: #125688;
      color: white;
    }
    .fa-twitter {
    background: #55ACEE;
    color: white;
    }
   .footer article:last-child{
     font-size: 15px;
     width: 420px;
   }
   #map {
      height: 400px;
      width: 100%;
    }
   .copy{
     color: gray;
     padding-left: 450px;
     background-color: black;
   }
   strong{
     color: white;
   }
